*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 0.5rem 0;
}

#container {
    width: 50vw;
    height: 40vh;
    border: 1px solid black;
    margin: auto;
    border-radius: 0.3rem;
}

#input-container {
    width: 90%;
    height: calc(40vh - 4rem);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}