body{
    background-color: black;
    color:  white;
}

#hero-heading{
    background-color: salmon;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
}


#full-form{
    background-color: orangered;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 20px;
    font-family: sans-serif;
}

.list-name{
    font-size: 18px;
    list-style-type:square;
    color: salmon;
    font-family: sans-serif;
}